@font-face {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../font/Poppins-SemiBold.woff2") format("woff2"),
        url("../font/Poppins-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    src: url("../font/Poppins-ExtraBold.woff2") format("woff2"),
        url("../font/Poppins-ExtraBold.woff") format("woff");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100vh;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 320px;
    height: 427px;
    background-color: #FFEEC1;
    text-align: center;
    color: #151519;
    position: relative;
    overflow: hidden;
}

.banner-title {
    margin-top: 51.02px;
    font-size: 20.53px;
    line-height: 21.08px;
}

.banner-title-large {
    margin-top: 5.04px;
    font-size: 27.92px;
    font-weight: 800;
    line-height: 28.68px;
}

.banner-img {
    transform-origin: top left;
    position: absolute;
    object-fit: contain;
}

.img1 {
    top: 162.62px;
    left: -94.86px;
    width: 272.32px;
    height: 190.78px;
    transform: rotate(-12.76deg);
    z-index: 2;
}

.img2 {
    width: 272.32px;
    height: 190.78px;
    top: 128.56px;
    left: 119.73px;
    transform: rotate(6.43deg);
    z-index: 3;
}

.img3 {
    width: 251.28px;
    height: 213.51px;
    top: 316.16px;
    left: 252.65px;
    transform: rotate(114.98deg);
}

.img4 {
    width: 185.05px;
    height: 157.24px;
    top: 278.31px;
    left: 200.69px;
}